parameters:
  ignoreErrors:
    -
      message: '#@throws with type .+ is not subtype of Throwable#'
      reportUnmatched: false
    -
      messages:
        - '#Class .+Filesystem.* not found#'
        - '#Class .+Flysystem.* not found#'
      path: src/Helper/DefaultImplementationLocator.php
      reportUnmatched: false
  treatPhpDocTypesAsCertain: false
rules:
  - Unleash\Client\PhpstanRules\NoEmptyFunctionRule
